{% extends 'base.html.twig' %}

{% block title %}
    {{ 'pages.edit'|trans }} {{ page.title }}
{% endblock %}

{% block body %}
    <section class="section">
        <h1 class="title">
            {{ 'pages.edit'|trans }} "{{ page.title }}"
        </h1>
    </section>
    <section class="section">
        {{ form_start(form, { method: 'PUT', action: url('page_edit', {id: page.id}), multipart: true }) }}
        {{ form_widget(form) }}
        <div class="field">
            <div class="control">
                <label class="checkbox" {% if not is_granted('ROLE_ADMIN') %} disabled="disabled" {% endif %}>
                    <input
                        type="checkbox"
                        name="homepage"
                        value="1"
                        {% if not is_granted('ROLE_ADMIN') %} disabled="disabled" {% endif %}
                        {% if homepage.id == page.id %} checked="checked" {% endif %}>
                    {{ 'label.homepage'|trans }}
                </label>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <input type="submit" value="{{ 'action.save'|trans }}" class="button is-link" />
            </div>
            <div class="control">
                <a href="{{ url('pages_my') }}" class="button is-text">
                    {{ 'action.back_to_list'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
