{% extends 'base.html.twig' %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    <section class="section">
        <h1 class="title">
            {{ 'pages.new'|trans }}
        </h1>
    </section>
    <section class="section">
        {{ form_start(form, { method: 'POST', action: url('page_new') }) }}
        {{ form_widget(form) }}
        <div class="field is-grouped">
            <div class="control">
                <input type="submit" value="{{ 'action.save'|trans }}" class="button is-link" />
            </div>
            <div class="control">
                <a href="{{ url('pages_my') }}" class="button is-text">
                    {{ 'action.back_to_list'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
