{% extends 'base.html.twig' %}

{% block title %}
    {{ 'pages.index'|trans }}
{% endblock %}

{% block body %}
    <section class="section">
        <h1 class="title">
            <th>{{ 'pages.index'|trans }}</th>
        </h1>
    </section>
    <section class="section">
        <div class="columns">
            <div class="column">
                <a href="{{ url('page_new') }}" class="button is-success"><i class="fas fa-pencil-alt"></i>&nbsp;{{ 'pages.new'|trans }}</a>
            </div>
        </div>
        {% if pagination is defined and pagination|length %}
            <div class="columns">
                <div class="column">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

            <table class="table is-striped is-fullwidth">
                <colgroup>
                    <col width="150px">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>{{ 'label.photo'|trans }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'label.published'|trans, 't.published') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 't.title') }}</th>
                        <th>{{ 'label.author'|trans }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 't.createdAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 't.updatedAt') }}</th>
                        <th>{{ 'label.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pagination %}
                        <tr>
                            <td>
                                {% if page.file %}
                                    <img src="{{ asset('uploads/photos/' ~ page.file) }}" alt="{{ page.file }}">
                                {% endif %}
                            </td>
                            <td>
                                {% if page.published %}
                                    <span class="tag is-rounded is-success">{{ 'label.published'|trans }}</span>
                                {% else %}
                                    <span class="tag is-rounded">{{ 'label.not_published'|trans }}</span>
                                {% endif %}
                                {% if page.id == homepageId %}
                                <span class="tag is-rounded is-info">{{ 'label.homepage'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ page.title }}</td>
                            <td>{{ page.author.getName }}</td>
                            <td>{{ page.createdAt|localizeddate }}</td>
                            <td>{{ page.updatedAt|localizeddate }}</td>
                            <td>
                                <a href="{{ url('page_view', {id: page.id}) }}">
                                    <i class="fas fa-eye"></i>
                                    {{ 'pages.view'|trans }}
                                </a>
                                &nbsp;
                                <a href="{{ url('page_edit', {id: page.id}) }}">
                                    <i class="fas fa-pencil-alt"></i>
                                    {{ 'pages.edit'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        {% endif %}
    </section>
{% endblock %}
